:root {
    --White: hsl(0, 100%, 100%);
    --Purple-100: hsl(275, 100%, 97%);
    --Purple-600: hsl(292, 16%, 49%);
    --Purple-950: hsl(292, 42%, 14%);
}

@font-face {
    font-family: workSans-regular;
    src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: workSans-semiBold;
    src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
    font-family: workSans-bold;
    src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* paragarph font size */
}

.top-background {
    background-color: var(--Purple-950);
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.bottom-background {
    background-color: var(--Purple-100);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    z-index: 1;
}

main {
    position: absolute;
    z-index: 2;
    left: 30%;
    top: 20%;
    width: 100%;
    max-width: 600px;
    background-color: var(--White);
    padding: 30px;
    border-radius: 10px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.title-container img {
    width: 30px;
    height: 30px;
}


.title-container h1 {
    font-size: 2rem;
    color: var(--Purple-950);
    font-family: workSans-bold;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 3px solid var(--Purple-100);
}

.question-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    justify-content: space-between;
}

.question-container p {
    color: var(--Purple-950);
    font-family: workSans-bold;
}

.question-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.answer-container {
    display: none;
}

.answer-container p {
    color: var(--Purple-600);
    font-family: workSans-regular;
}